
.trt{
  margin: 15px;
}


@media screen and (max-width: 700px) {
    /* body {
      background-color: lightgreen;
    } */
    .navv{
        /* display: none; */
    }
    .trt{
        margin: 0;
    }
  }